<div class="container p-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-body text-white bg-primary">
        <img
          src="https://img2.freepng.es/20180421/uuw/kisspng-ios-7-weather-computer-icons-iphone-ios-5adab94196a697.3057354815242837136171.jpg"
          width="200"
          class="rounded mx-auto d-block">
        <form (submit)="submitLocation(cityName)">
          <div class="form-control mt-md-4">
            <input type="text" class="form-control" placeholder="CityName" autofocus #cityName>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-danger mt-md-3">
              Get Water Click
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8 pt-sm-3">
      <div class="card card-header text-center">
        <h1 class="h4">Weather Information</h1>
      </div>
      <div *ngIf="weather" class="card card-body text-center">
        <p>City: {{weather.name}}</p>
        <p>Latitude: {{weather.coord.lat}}</p>
        <p>Longitude: {{weather.coord.lon}}</p>
        <p>Humidity: {{weather.main.humidity}}</p>
        <p>Pressure: {{weather.main.pressure}}</p>
        <p>Temperature: {{weather.main.temp}} °C</p>
        <p>Description: {{weather.weather[0].description }}</p>
      </div>
    </div>
    <div class="col-md-12 pt-3">
      <div class="card card-header text-center">
        <h1 class="h4">Weather Information 5 </h1>
      </div>
      <div *ngIf="weaterdata" class="card card-body text-center">
        <ul *ngFor="let forecast of weaterdata">
          <li>
            {{forecast.dt_txt | date: 'EEE, MM dd'}}-
            <span>
              {{forecast.main.temp_max | number:'2.0-0'}}°C /
              {{forecast.main.temp_min | number:'2.0-0'}}°C
            </span>
            <span>{{forecast.weather[0].main}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
